body {

   background-color: black; color: goldenrod;

}

h1 {

color: goldenrod
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-stretch: extra-expanded;
}

div { 

   color: pink

}
